html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid black; */
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.main-container {
  padding: 0.6rem;
  display: grid;
  gap: 0.6rem;
  height: 100dvh;
  background-color: aqua;
}

.preview-container,
.editor-container {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.preview-container {
  background-color: yellow;
}

.editor-container {
  background-color: pink;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.main-header svg {
  height: 1.5rem;
  width: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: inherit;
  height: 3rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header div {
  display: flex;
  gap: 0.5rem;
}

#editor,
#preview {
  padding: 1rem;
  overflow: auto;
}

#preview {
  background-color: inherit;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: azure;
  border-radius: 0.3rem;
  font-weight: 600;
}

.btn:hover {
  background-color: aquamarine;
}

.btn:has(svg) {
  padding: 0.5rem;
}

@media (width < 700px) {
  .main-container {
    grid-template-rows: auto 0.9fr 1fr;
  }
}

@media (width > 700px) {
  .main-container {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .editor-container {
    grid-row-end: 3;
  }
}
