:root {
  --primary-bg-color: #f1f1f1;
  --primary-color: #333;

  --scrollbar-box-shadow: inset 0 0 5px #777;
  --scrollbar-thumb-background-color: #777;

  --btn-bg-color: #ccc;
  --btn-hover-bg-color: #e7e7e7;
  --btn-outline-color: var(--primary-color);
}

:root.dark {
  --primary-bg-color: #333;
  --primary-color: #f1f1f1;

  --btn-bg-color: #555;
  --btn-hover-bg-color: #777;
  --btn-outline-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  box-shadow: var(--scrollbar-box-shadow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid black; */
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

img {
  width: 100%;
  height: auto;
}

select:focus {
  outline: none;
}

#root {
  display: grid;
  gap: 0.6rem;
  padding: 0.6rem;
  height: 100dvh;
}

.preview-container,
.editor-container {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  border-radius: 0.3rem;
  transition: 300ms;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-bg-color);
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.main-header select {
  margin-left: auto;
}

.main-header span {
  text-align: right;
}

.title {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  position: sticky;
  top: 0;
  min-height: 3.4rem;
  background-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}

.header div {
  display: flex;
  gap: 0.5rem;
}

.header h2 {
  font-size: 1.2rem;
  margin: 0;
}

#editor,
#preview {
  padding: 1rem;
  overflow: auto;
  color: var(--primary-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  transition: 300ms;
  padding: 0.3rem 0.5rem;
  background-color: var(--btn-bg-color);
  color: var(--primary-color);
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  outline: 0.12rem solid var(--btn-outline-color);
}

@media (width <= 375px) {
  .header {
    justify-content: center;
  }
}

@media (width < 48rem) {
  #root {
    grid-template-rows: auto 0.9fr 1fr;
  }
}

@media (width >= 48rem) {
  #root {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .editor-container {
    grid-row-end: 3;
  }
}
